{%load static %}
<!doctype html>
<html lang="en">
  <head>
  	<title>Onfet</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

   
		
		<link rel="stylesheet" href="{% static 'boostrap/css/bootstrap.min.css' %}">
		<link rel="stylesheet" href="{% static 'boostrap/css/style.css' %}">
  </head>
  <body>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Path</th>
                <th scope="col">Descarga</th>
            </tr>
        </thead>
    
        <tbody>
            {% if document_list %}
            {% for document in document_list %}
            <tr>
                <td>{{ document }}</td>
                <td>
                <!-- <object data="myfile.pdf" type="application" width="100%" height="100%">
                  <a href= {{document}} >DOC!</a>
                </object> -->
                <p>Muy pronto</p>
              </td>
            </tr>
            
            {% endfor %}
            {% else %}
            <div class="alert alert-dismissible alert-danger">
            
              <strong>Lo sentimos!</strong> Parece que no existe información.
            </div>
            {% endif %}
          </tbody>
        </table>
    
    </table>
    <!-- <div class="pagination">
          
        <span class="step-links">
            {% if document_list.has_previous %}
                <a href="?page=1">&laquo; inicio</a>
                <a href="?page={{ document_list.previous_page_number }}">anterior</a>
            {% endif %}
            <span class="current">
                Page {{ document_list.number }} of {{ document_list.paginator.num_pages }}.
            </span>
            {% if document_list.has_next %}
                <a href="?page={{ document_list.next_page_number }}">siguiente</a>
                <a href="?page={{ document_list.paginator.num_pages }}">final &raquo;</a>
            {% endif %}
        </span>
    </div> -->
    </html>
    <script src="{% static 'boostrap/js/jquery.min.js' %}"></script>
    <script src="{% static 'boostrap/js/popper.js' %}"></script>
    <script src="{% static 'boostrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'boostrap/js/main.js' %}"></script>
  </body>
</html>

