{%load static %}
<!doctype html>
<html lang="en">
  <head>
  	<title>Onfet</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="{% static 'boostrap/css/bootstrap.min.css' %}">
		<link rel="stylesheet" href="{% static 'boostrap/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery.dataTables.min.css' %}">
    <script src="{% static 'js/jquery-3.5.1.js' %}"></script>
    <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
    </head>
      <br>
  </head>
  <body>
    <table  id="documents" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th scope="col">Path</th>
                <th scope="col">Descarga</th>
            </tr>
        </thead>
    
        <tbody>
            {% if document_list %}
            {% for document in document_list %}
            <tr>
                <td>{{ document }}</td>
                <td>
                <!-- <object data="myfile.pdf" type="application" width="100%" height="100%">
                  <a href= {{document}} >DOC!</a>
                </object> -->
                <p>Muy pronto</p>
              </td>
            </tr>
            
            {% endfor %}
            {% else %}
            <div class="alert alert-dismissible alert-danger">
            
              <strong>Lo sentimos!</strong> Parece que no existe información.
            </div>
            {% endif %}
          </tbody>
        </table>
    
    </table>
   
    <script type="text/javascript">
      $(document).ready(function () {
          $.noConflict();
          $('#documents').DataTable({
            "language": {
              "lengthMenu": "Mostrar _MENU_ registros por página",
              "zeroRecords": "No se encontraron registros",
              "info": "Mostrando página _PAGE_ de _PAGES_",
              "infoEmpty": "No hay registros disponibles",
              "infoFiltered": "(filtrado de _MAX_ registros totales)",
              "search": "Buscar:",
              "paginate": {
                "first":      "Primero",
                "last":       "Último",
                "next":       "Siguiente",
                "previous":   "Anterior"
              },
            }
          });
          });
    </script>
    
    <script src="{% static 'boostrap/js/jquery.min.js' %}"></script>
    <script src="{% static 'boostrap/js/popper.js' %}"></script>
    <script src="{% static 'boostrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'boostrap/js/main.js' %}"></script>
  </body>
</html>

